/* +++++ +++++ +++++ ++++++++++++ +++++ +++++ +++++ */
/* +++++ +++++ +++++ Mobile-First +++++ +++++ +++++ */
/* +++++ +++++ +++++ ++++++++++++ +++++ +++++ +++++ */
* {
    margin : 0;
    padding: 0;
}
body {
    background-color: #d6f7e3;
}
main {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : stretch;
}

h1, h2, h3 {
    color: #648CD7;
}

h2, h3 {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
}

h3 {
    font-family: 'Bree Serif', serif;
}

ul, ol {
    list-style: none;
}

.logo__svg {
    display: none;
}

.typo {
    font-family: 'Bree Serif', serif;
}

.border {
    border       : 2px solid #648CD7;
    border-radius: 3px;
}

.flex__column {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
}

.flex__row {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}


.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

/* +++++ +++++ +++++ header +++++ +++++ +++++ */

figure.flex__column img {
	max-width: 96%;
	height: auto;
	object-fit: contain;
}

figure figcaption {
    margin-bottom: 40px;
    font-size    : 1rem;
}

header ul.flex__row {
    justify-content : space-around;
    margin-top      : 5px;
    padding         : 10px 12px;
    width           : 75%;
    background-color: #FFF;
}

/* +++++ +++++ +++++ Carrousel +++++ +++++ +++++ */

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel__panorama::after {
    content: "";
    clear  : both;
    display: table;
}

.carousel__item {
    float: left;
}

.carousel__item figure {
    min-width : 90vw;
    min-height: 50vh;
}

/* +++++ +++++ +++++ Carrousel controls +++++ +++++ +++++ */

li i {
    display    : inline-block;
    padding-top: 10px;
    width      : 30px;
    height     : 30px;
    text-align : center;
    cursor     :pointer;
}

/* +++++ +++++ +++++ MAP +++++ +++++ +++++ */

.bloc {
    margin: 0 auto;
    border: 2px solid #648CD7;
    height: 50vh;
    width : 90vw;
}

/* +++++ +++++ +++++ Reservation +++++ +++++ +++++ */

form h2 {
    margin-bottom: 0;
}

fieldset {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    border: 0;
}

fieldset label {
    margin-bottom: 5px;
}

address {
    width: 80vw;
}
address ol {
    padding   : 0;
    text-align: left;
}

input[type="submit"] {
    max-width: 300px;
    border: 1px solid #648CD7;
}


/* +++++ +++++ +++++ Canvas +++++ +++++ +++++ */
canvas {
    margin-top      : 15px;
    margin-bottom   : 15px;
    width           : 300px;
    height          : 150px;
    background-color: #FFF;
}

/* +++++ +++++ +++++ Infos Rsv +++++ +++++ +++++ */
section > div {
    font-size       : 0.8em;
    background-color: #FFF;
}

div h3 {
    text-align: center;
}

div > p {
    margin: 5px;
}

.timer {
    display   : inline-block;
    width     : 100%;
    text-align: center;
    font-size : 1.3em;
}

div > button {
    margin-bottom: 10px;
    border: 1px solid #648CD7;
    max-width: 300px;
}

/* +++++ +++++ +++++ Footer +++++ +++++ +++++ */
footer p {
    margin: 10px auto;
    width: 80%;
    text-align: center;
    font-size : 0.6em;
}

/* +++++ +++++ +++++ +++++++++++++ +++++ +++++ +++++ */
/* +++++ +++++ +++++ Media Queries +++++ +++++ +++++ */
/* +++++ +++++ +++++ +++++++++++++ +++++ +++++ +++++ */

/* +++++ BreakPoint 675px ( => tablette) +++++ */
@media screen and (min-width: 675px) {

    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 3.2em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em;
    }

    /* +++++ header +++++ */
    .head {
        display        : flex;
        flex-direction : row;
        justify-content: space-evenly;
        align-items    : center;
        width          : 96%;
    }

    .logo__svg {
        display: block;
        height : 200px;
        width  : 40%;
    }

    header p {
        width: 82vw;
    }
    /* +++++ Réservation +++++ */

    fieldset {
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: space-around;
        align-items    : center;
    }

    address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .input {
        justify-content: center;
        width          : 35vw;
        height         : 15vh;
    }

    .input input {
        height    : 4vh;
        font-size : 1.1em;
        text-align: center;
    }

    .btn__reserver {
        width : 40vw;
        height: 4vh;
    }

    .infos__reservation {
        width: 60vw;
    }

    section > div {
        font-size: 1em;
    }

    button {
        width : 40vw;
        height: 4vh;
    }

    /* +++++ Canvas +++++ */
    .container__canvas {
        width: 100%;
    }
}

/* +++++ BreakPoint 992px ( => Pc Hybride / Pc) +++++ */
@media screen and (min-width: 992px) {
    h1 {
        width: 45%;
    }

    p {
        max-width: 900px;
    }

    /* +++++ header +++++ */
    .logo__svg {
        width: 50%;
    }

    /* +++++ Reservation +++++ */
    fieldset {
        width    : 80%;
        max-width: 700px;
    }

    .input {
        width: 35%;
    }

    div.infos__reservation {
        max-width: 900px;
    }

}